.c-card {
    margin-bottom: 40px;
    margin-top: 20px;

    .c_title {
        text-transform: uppercase;
        font-size: $fs-14;
        margin-top: 15px;
    }

    &:hover {
        img {
            transform: scale(1.1);
        }
        .c_images {
            &::before {
                top: 0;
                opacity: 1;
                width: 100%;
            }
        }
    }

    .c_images {
        overflow: hidden;
        position: relative;

        &::before {
            background: #ffffff3e;
            border-radius: 0;
            content: "";
            display: block;
            height: 100%;
            top: -100%;
            opacity: 1;
            position: absolute;
            width: 100%;
            z-index: 2;

            transition: 0.5s;
        }
        img {
            transition: 0.5s;
        }
    }
}

.c-card2 {
    margin: 20px 0;
    position: relative;
    height: 300px;
    transition: 0.5s;
    border: 1px solid $color-white;

    // &:hover {
    //     border: 1px solid $color-dark;
    // }

    .c_buy {
        position: absolute;
        width: 100%;
        background-color: $color-white;
        top: 100%;
        left: 0;
        opacity: 0;
        transition: 0.5s;
        visibility: hidden;
        z-index: 999999 !important;

        .c_list {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            margin-top: 10px;
            div {
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: red;
            }
        }

        .c_size {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            margin-top: 10px;
            font-size: 10px;
            margin-bottom: 10px;

            div {
                padding: 6px 10px;
                border: 1px solid $color-dark;
            }
        }

        .c_price {
            margin-bottom: 10px;
            text-align: center;
            font-size: $fs-16;
        }

        button {
            background-color: $color-dark;
            color: $color-white;
            border: none;
            padding: 6px 40px;
            display: block;

            margin: 0 auto;
        }
    }

    .images {
        overflow: hidden;
        img {
            transition: 0.5s;
        }
    }

    &:hover {
        .images {
            img {
                transform: scale(1.1);
            }
        }
        .c_buy {
            opacity: 1;
            top: 60%;
            visibility: visible;
        }
    }

    .c-heading {
        font-size: $fs-16;
        font-weight: 400;
        text-align: center;
        margin: 20px 0;
    }

    .c-heading2 {
        font-size: $fs-18;
        font-weight: 400;
        text-align: center;
        margin: 20px 0;
    }
}

.c-card3 {
    background-color: $color-gray-100;
    min-height: 152px;
    text-align: center;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid $color-gray-100;
    transition: 0.5s;

    &:hover {
        img {
            transform: scale(-1) rotate(180deg);
        }
        border: 1px solid #0808083d;
    }

    img {
        max-width: 16%;
        height: 37px;
        margin: 20px auto;
        filter: brightness(1.2);
        transition: 0.5s;
    }

    .c_heading {
        text-align: center;
        font-size: 16px;
        font-weight: 600;
    }

    .c_title {
        font-size: 14px;
    }
}

.c-card4 {
    margin: 10px 0;
    position: relative;

    transition: 0.5s;

    .images {
        overflow: hidden;
        img {
            transition: 0.5s;
        }
    }

    &:hover {
        .images {
            img {
                transform: scale(1.1);
            }
        }
    }

    .c-heading {
        font-size: $fs-16;
        font-weight: 400;
        text-align: center;
        margin: 20px 0;
    }

    .c-heading2 {
        font-size: $fs-18;
        font-weight: 400;
        text-align: center;
        margin: 20px 0;
    }
}

@media (max-width: 991px) {
    .c-card2 {
        .c-heading {
            font-size: $fs-16;
        }
        .c-heading2 {
            font-size: $fs-14;
        }
    }

    .c-card3 {
        min-height: 180px;
        .c_heading {
            font-size: $fs-12;
        }
        .c_title {
            font-size: 15px;
        }
    }
}

@media (max-width: 575px) {
    .c-card {
        margin-bottom: 20px;
        margin-top: 10px;
    }
}
